@media(max-width: 480px){
    /* 자유게시판 메인게시판 */

    #hNotice{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #trashdiv{
        text-align: right;
        padding: 10px;
    }

    #hNotice h2{
        font-size: 20px;
    }

    #freeboard_area{
        margin : 0 0 23vh 0;
    }

    #notice_back{
        height: 0.4vh;
        width: 100%;
        background-color: rgb(39, 39, 39);
    }

    thead tr{
        background-color: rgb(40, 96, 180);
        color: rgb(255, 255, 255);

        text-shadow: 0 0 3px rgb(2, 2, 2);
    }

    #free_list tr th{
        text-align: center;
        font-size: 2.5vw;
        vertical-align: middle;
    }

    #free_list tr td{
        text-align: center;
        font-size: 12px;
    }

    #free_list tr td a span{
        margin-left: 2px;
        color: red;
    }

    #write_btn{
        text-align: center;
    }

    #write_btn button{
        width: 70%;
        font-size: 12px;
    }

    /* 블록 페이징 */

    #page_num{
        text-align: center;
        font-size: 12px;
    }

    #page_num ul li{
        list-style: none;
        float: left;
    }

    #now_page{
        color: white;
        background-color: rgb(49, 120, 212);
        border: solid 1px rgb(146, 146, 146);
    }

    /* 자유게시판 게시글 검색 */

    #hNotice2{
        text-align: center;
        margin-bottom: 20px;
    }

    #hNotice2 h2,
    #hNotice2 h4{
        font-size: 16px;
    }

    #search_box{
        margin-top: 40px;
        /* margin-left: 13vw; */
        width: 100%;
        float: left;
       
    }

    #search_box select{
        width: 28%;
        float: left;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 12px;
    }

    #search_box input{
        width: 40%;
        float: left;
        margin-right: 3px;
        font-size: 12px;
    }

    #search_box button{
        width:28%;
        float: left;
        font-size: 12px;
    }

    /* 자유게시판 글쓰기 */

    #write_area{
        margin : 0 0 5% 0;
    }

    #write_title{
        display: block;
        clear: both;
        border-top : solid rgb(24, 89, 185) 3px;
    }

    #title1{
        float: left;
        width: 25%;
        background-color: #f5f7ff;
        border-top: solid #ebebeb 1.5px;
        font-size:12px;
        padding: 20px;
        height: 70px;
    }
    #title2{
        float: left;
        width: 75%;
        padding: 20px;
        border-top: solid #ebebeb 1.5px;
        background-color: white;
        height: 70px;
    }

    #write_title textarea{
        resize: none;
        padding: 5px;
        width: 100%;
        height: 30px;
        font-size: 12px;
    }

    #title_cont1{
        float: left;
        width: 25%;
        background-color: #f5f7ff;
        border-top : solid #ebebeb 1.5px;
        padding: 30px 30px 290px 30px;
        font-size: 12px;
        height: 220px;
    }

    #title_cont2{
        float: left;
        width: 75%;
        padding: 10px 20px;
        border-top : solid #ebebeb 1.5px;
        background-color: white;
    }

    #write_content textarea{
        resize: none;
        width: 100%;
        height: 300px;
        font-size: 12px;
    }

    #btn_set{
        margin-top: 30px;
        text-align: center;
    }

    #btn_set button{
        /* width: 200px; */
        font-size: 12px;
    }

    /* 자유 게시판 글 읽기 */

    #content1{
        font-size: 12px;
        margin : 0 0 0.5vh 0; 
        border-top : solid rgb(24, 89, 185) 3px;
        border-bottom : solid #dadada 1.5px;
        padding: 16px;
        /* height: 7vh; */
    }

    #read_box1{
        /* float: left; */
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        color: rgb(24, 89, 185);
    }

    #read_box2,
    #read_box3,
    #read_box4{
        /* float: right; */
        margin-right: 30px;
        font-weight: bold;
        color: rgb(24, 89, 185);

    }

    #read_box1 span,
    #read_box2 span,
    #read_box3 span,
    #read_box4 span{
        color: black;
        margin-left: 3px;
    }

    #content2{
        font-size: 12px;
        margin : 0 0 1vh 0; 
        border-top : solid #ebebeb 1.5px;
        border-bottom : solid #ebebeb 1.5px;
        padding: 20px 10px 30px 16px;
    }

    #button_box{
        display: block;
        clear: both;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #button_box button{
        width: 30%;
        font-size: 12px;
    }

    /* 댓글 */

    #re_tag{
        font-size: 14px;
        margin: 0 0 20px 5vw;
    }

    #re_tag i{
        margin: 0 5px 0 10px;
    }

    #reply_cunt{
        float: left;
    }

    #reply_area{
        display: none;
        margin : 0 0 150px 0; 
        font-size: 16px;
    }

    #reply1{
        clear: both;
        margin-bottom: 20px;
    }

    #reply1 i{
        float:left;
        margin-bottom: 30px;
    }

    svg{    /*댓글의 사람 모양 아이콘*/
        margin-left: 10px;
    }

    #reply1 h5{
        float: left;
        margin-left: 10px;
        font-size: 12px;
    }

    #reply1 button{
        font-size: 12px;
    }

    #reply2{
        clear: both;
        margin-top: 40px;
        margin-bottom: 20px;
        border-bottom: solid 2px #ebebeb ;
    }

    #reply2 h4{
        margin-left: 10px;
        font-size: 12px;
    }
    .reply_modify{
        display: none;
    }

    .reply_modify form textarea{
        resize: none;
        float: left;
        width: 60%;
        margin-bottom:5px;
    }

    .reply_modify form button{
        float: left;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 12px;
    }

    .btn_close{
        float: left;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 12px;
    }

    #reply_write form textarea{
        resize: none;
        float: left;
        width: 80%;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    #reply_write form button{
        float: left;
        margin-top: 10px;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 12px;
    }
}

@media(min-width: 481px) and (max-width: 1049px){
    /* 자유게시판 메인게시판 */

    #hNotice{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #trashdiv{
        text-align: right;
        padding: 10px;
    }

    #freeboard_area{
        margin : 0 19vw 18vh 19vw;
    }

    #notice_back{
        height: 0.4vh;
        width: 100%;
        background-color: rgb(39, 39, 39);
    }

    thead tr{
        background-color: rgb(40, 96, 180);
        color: rgb(255, 255, 255);
        font-weight: 100;
        text-shadow: 0 0 3px rgb(2, 2, 2);
    }

    #free_list tr th{
        text-align: center;
        font-size: 18px;
    }

    #free_list tr td{
        text-align: center;
        font-size: 16px;
    }

    #free_list tr td a span{
        margin-left: 5px;
        color: red;
    }

    #write_btn{
        float: right;
    }

    /* 블록 페이징 */

    #page_num{
        text-align: center;
        font-size: 16px;
    }

    #page_num ul li{
        list-style: none;
        float: left;
    }

    #now_page{
        color: white;
        background-color: rgb(49, 120, 212);
        border: solid 1px rgb(146, 146, 146);
    }

    /* 자유게시판 게시글 검색 */

    #hNotice2{
        text-align: center;
        margin-bottom: 20px;
    }

    #search_box{
        margin-top: 40px;
        margin-left: 13vw;
        width: 70%;
        float: left;
    }

    #search_box select{
        width: 20%;
        float: left;
        margin-right: 3px;
    }

    #search_box input{
        width: 40%;
        float: left;
        margin-right: 3px;
    }

    #search_box button{
        width:20%;
        float: left;
    }

    /* 자유게시판 글쓰기 */

    #write_area{
        margin : 0 20vw 5% 20vw;
    }

    #write_title{
        display: block;
        clear: both;
        border-top : solid rgb(24, 89, 185) 3px;
    }

    #title1{
        float: left;
        width: 25%;
        background-color: #f5f7ff;
        padding: 30px;
    }
    #title2{
        float: left;
        width: 75%;
        padding: 20px;
        background-color: white;
    }

    #write_title textarea{
        resize: none;
        width: 100%;
        height: 40px;
        font-size: 16px;
    }

    #title_cont1{
        float: left;
        width: 25%;
        background-color: #f5f7ff;
        border-top : solid #ebebeb 1.5px;
        padding: 30px 30px 290px 30px;
    }

    #title_cont2{
        float: left;
        width: 75%;
        padding: 20px;
        border-top : solid #ebebeb 1.5px;
        background-color: white;
    }

    #write_content textarea{
        resize: none;
        width: 100%;
        height: 300px;
        font-size: 16px;
    }

    #btn_set{
        margin-top: 30px;
        text-align: center;
    }

    #btn_set button{
        width: 200px;
    }

    /* 자유 게시판 글 읽기 */

    #content1{
        font-size: 16px;
        margin : 0 20vw 0.5vh 20vw; 
        border-top : solid rgb(24, 89, 185) 3px;
        border-bottom : solid #dadada 1.5px;
        padding: 16px;
        height: 7vh;
    }

    #read_box1{
        float: left;
        margin-right: 10px;
        font-weight: bold;
        color: rgb(24, 89, 185);
    }

    #read_box2,
    #read_box3,
    #read_box4{
        float: right;
        margin-right: 30px;
        font-weight: bold;
        color: rgb(24, 89, 185);

    }

    #read_box1 span,
    #read_box2 span,
    #read_box3 span,
    #read_box4 span{
        color: black;
        margin-left: 3px;
    }

    #content2{
        font-size: 16px;
        margin : 0 20vw 1vh 20vw; 
        border-top : solid #ebebeb 1.5px;
        border-bottom : solid #ebebeb 1.5px;
        padding: 50px 20px 50px 20px;
    }

    #button_box{
        display: block;
        clear: both;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #button_box button{
        width: 120px;
    }

    /* 댓글 */

    #re_tag{
        font-size: 18px;
        margin: 0 0 20px 20vw;
    }

    #re_tag i{
        margin: 0 5px 0 10px;
    }

    #reply_cunt{
        float: left;
    }

    #reply_area{
        display: none;
        margin : 0 20vw 150px 20vw; 
        font-size: 16px;
    }

    #reply1{
        clear: both;
        margin-bottom: 20px;
    }

    #reply1 i{
        float:left;
        margin-bottom: 30px;
    }

    #reply1 h5{
        float: left;
        margin-left: 10px;
    }

    #reply2{
        clear: both;
        margin-top: 40px;
        margin-bottom: 20px;
        border-bottom: solid 2px #ebebeb ;
    }

    .reply_modify{
        display: none;
    }

    .reply_modify form textarea{
        resize: none;
        float: left;
        width: 60%;
        margin-bottom:5px;
    }

    .reply_modify form button{
        float: left;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 20px;
    }

    .btn_close{
        float: left;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 20px;
    }

    #reply_write form textarea{
        resize: none;
        float: left;
        width: 80%;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    #reply_write form button{
        float: left;
        margin-top: 10px;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 20px;
    }
}

@media(min-width: 1050px){
    /* 자유게시판 메인게시판 */

    #hNotice{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #trashdiv{
        text-align: right;
        padding: 10px;
    }

    #freeboard_area{
        margin : 0 19vw 18vh 19vw;
    }

    #notice_back{
        height: 0.4vh;
        width: 100%;
        background-color: rgb(39, 39, 39);
    }

    thead tr{
        background-color: rgb(40, 96, 180);
        color: rgb(255, 255, 255);
        font-weight: 100;
        text-shadow: 0 0 3px rgb(2, 2, 2);
    }

    #free_list tr th{
        text-align: center;
        font-size: 18px;
    }

    #free_list tr td{
        text-align: center;
        font-size: 16px;
    }

    #free_list tr td a span{
        margin-left: 5px;
        color: red;
    }

    #write_btn{
        float: right;
    }

    /* 블록 페이징 */

    #page_num{
        text-align: center;
        font-size: 16px;
    }

    #page_num ul li{
        list-style: none;
        float: left;
    }

    #now_page{
        color: white;
        background-color: rgb(49, 120, 212);
        border: solid 1px rgb(146, 146, 146);
    }

    /* 자유게시판 게시글 검색 */

    #hNotice2{
        text-align: center;
        margin-bottom: 20px;
    }

    #search_box{
        margin-top: 40px;
        margin-left: 13vw;
        width: 70%;
        float: left;
    }

    #search_box select{
        width: 20%;
        float: left;
        margin-right: 3px;
    }

    #search_box input{
        width: 40%;
        float: left;
        margin-right: 3px;
    }

    #search_box button{
        width:20%;
        float: left;
    }

    /* 자유게시판 글쓰기 */

    #write_area{
        margin : 0 20vw 5% 20vw;
    }

    #write_title{
        display: block;
        clear: both;
        border-top : solid rgb(24, 89, 185) 3px;
    }

    #title1{
        float: left;
        width: 25%;
        background-color: #f5f7ff;
        padding: 30px;
    }
    #title2{
        float: left;
        width: 75%;
        padding: 20px;
        background-color: white;
    }

    #write_title textarea{
        resize: none;
        width: 100%;
        height: 40px;
        font-size: 16px;
    }

    #title_cont1{
        float: left;
        width: 25%;
        background-color: #f5f7ff;
        border-top : solid #ebebeb 1.5px;
        padding: 30px 30px 290px 30px;
    }

    #title_cont2{
        float: left;
        width: 75%;
        padding: 20px;
        border-top : solid #ebebeb 1.5px;
        background-color: white;
    }

    #write_content textarea{
        resize: none;
        width: 100%;
        height: 300px;
        font-size: 16px;
    }

    #btn_set{
        margin-top: 30px;
        text-align: center;
    }

    #btn_set button{
        width: 200px;
    }

    /* 자유 게시판 글 읽기 */

    #content1{
        font-size: 16px;
        margin : 0 20vw 0.5vh 20vw; 
        border-top : solid rgb(24, 89, 185) 3px;
        border-bottom : solid #dadada 1.5px;
        padding: 16px;
        height: 7vh;
    }

    #read_box1{
        float: left;
        margin-right: 10px;
        font-weight: bold;
        color: rgb(24, 89, 185);
    }

    #read_box2,
    #read_box3,
    #read_box4{
        float: right;
        margin-right: 30px;
        font-weight: bold;
        color: rgb(24, 89, 185);

    }

    #read_box1 span,
    #read_box2 span,
    #read_box3 span,
    #read_box4 span{
        color: black;
        margin-left: 3px;
    }

    #content2{
        font-size: 16px;
        margin : 0 20vw 1vh 20vw; 
        border-top : solid #ebebeb 1.5px;
        border-bottom : solid #ebebeb 1.5px;
        padding: 50px 20px 50px 20px;
    }

    #button_box{
        display: block;
        clear: both;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #button_box button{
        width: 120px;
    }

    /* 댓글 */

    #re_tag{
        font-size: 18px;
        margin: 0 0 20px 20vw;
    }

    #re_tag i{
        margin: 0 5px 0 10px;
    }

    #reply_cunt{
        float: left;
    }

    #reply_area{
        display: none;
        margin : 0 20vw 150px 20vw; 
        font-size: 16px;
    }

    #reply1{
        clear: both;
        margin-bottom: 20px;
    }

    #reply1 i{
        float:left;
        margin-bottom: 30px;
    }

    #reply1 h5{
        float: left;
        margin-left: 10px;
    }

    #reply2{
        clear: both;
        margin-top: 40px;
        margin-bottom: 20px;
        border-bottom: solid 2px #ebebeb ;
    }

    .reply_modify{
        display: none;
    }

    .reply_modify form textarea{
        resize: none;
        float: left;
        width: 60%;
        margin-bottom:5px;
    }

    .reply_modify form button{
        float: left;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 20px;
    }

    .btn_close{
        float: left;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 20px;
    }

    #reply_write form textarea{
        resize: none;
        float: left;
        width: 80%;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    #reply_write form button{
        float: left;
        margin-top: 10px;
        margin-left: 0.5%;
        width: 19.5%;
        height: 54px;
        font-size: 20px;
    }
}





