@media(max-width: 480px){
    /* 교육관광 메인페이지 */

    #hNotice{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #hNotice h2{
        font-size: 20px;
    }

    #select_edu{
        text-align: center;
    }

    #select_edu h3{
        font-size: 16px;
    }

    #select_edu button{
        width: 40vw;
        height: 10vh;
        margin: 10px;
        font-size: 16px;
    }

    #el_field1{
        /* text-align: center;    */
       margin: 30px;
    }

    #el_field1 button{
        width: 30vw;
        height: 60px;
        font-size: 16px;
        margin-bottom: 5px;
        background-color: rgba(233, 163, 12, 0.74);
        border: solid 1px rgba(233, 163, 12, 0.74);
    }

    #el_field1 button:hover{
        background-color: rgba(255, 174, 0, 0.74);
    }

    #el_field2{
        margin: 30px;
    }

    #el_field2 button{
        width: 30vw;
        height: 60px;
        font-size: 16px;
        margin-bottom: 5px;
        background-color: rgba(233, 163, 12, 0.74);
        border: solid 1px rgba(233, 163, 12, 0.74);
    }

    #el_field2 button:hover{
        background-color: rgba(255, 174, 0, 0.74);
    }

    #mid_field1{
        margin-left: 61vw;
    }

    #mid_field1 button{
        width: 30vw;
        height: 60px;
        font-size: 16px; 
        margin-bottom: 5px;   
        background-color: rgb(39, 180, 34);
        border: solid 1px rgb(39, 180, 34);
    }

    #mid_field1 button:hover{
        background-color: rgb(38, 156, 33);
    }

    #mid_field2{
        margin-left: 61vw;
    }

    #mid_field2 button{
        width: 30vw;
        height: 60px;
        font-size: 16px;
        margin-bottom: 5px;
        background-color: rgb(39, 180, 34);
        border: solid 1px rgb(39, 180, 34);
    }

    #mid_field2 button:hover{
        background-color: rgb(38, 156, 33);
    }

    #space{
        margin-bottom: 50px;
    }

}

@media(min-width: 481px) and (max-width: 1049px){
    /* 교육관광 메인페이지 */

    #hNotice{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #select_edu{
        text-align: center;
    }

    #select_edu button{
        width: 300px;
        height: 150px;
        margin: 20px;
        font-size: 25px;
    }

    #el_field1{
        text-align: center;   
        margin-right: 200px;
    }

    #el_field1 button{
        width: 150px;
        height: 80px;
        font-size: 20px;
        margin-bottom: 5px;
        background-color: rgba(233, 163, 12, 0.74);
        border: solid 1px rgba(233, 163, 12, 0.74);
    }

    #el_field1 button:hover{
        background-color: rgba(255, 174, 0, 0.74);
    }

    #el_field2{
        text-align: center;
        margin-right: 200px;
    }

    #el_field2 button{
        width: 150px;
        height: 80px;
        font-size: 20px;
        margin-bottom: 5px;
        background-color: rgba(233, 163, 12, 0.74);
        border: solid 1px rgba(233, 163, 12, 0.74);
    }

    #el_field2 button:hover{
        background-color: rgba(255, 174, 0, 0.74);
    }

    #mid_field1{
        text-align: center;
        margin-left: 495px;
    }

    #mid_field1 button{
        width: 150px;
        height: 80px;
        font-size: 20px; 
        margin-bottom: 5px;   
        background-color: rgb(39, 180, 34);
        border: solid 1px rgb(39, 180, 34);
    }

    #mid_field1 button:hover{
        background-color: rgb(38, 156, 33);
    }

    #mid_field2{
        text-align: center;
        margin-left: 495px;
    }

    #mid_field2 button{
        width: 150px;
        height: 80px;
        font-size: 20px;
        margin-bottom: 5px;
        background-color: rgb(39, 180, 34);
        border: solid 1px rgb(39, 180, 34);
    }

    #mid_field2 button:hover{
        background-color: rgb(38, 156, 33);
    }

    #space{
        margin-bottom: 50px;
    }

}

@media(min-width:1050px){
    /* 교육관광 메인페이지 */

    #hNotice{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #select_edu{
        text-align: center;
    }

    #select_edu button{
        width: 300px;
        height: 150px;
        margin: 20px;
        font-size: 25px;
    }

    #el_field1{
        text-align: center;   
        margin-right: 200px;
    }

    #el_field1 button{
        width: 150px;
        height: 80px;
        font-size: 20px;
        margin-bottom: 5px;
        background-color: rgba(233, 163, 12, 0.74);
        border: solid 1px rgba(233, 163, 12, 0.74);
    }

    #el_field1 button:hover{
        background-color: rgba(255, 174, 0, 0.74);
    }

    #el_field2{
        text-align: center;
        margin-right: 200px;
    }

    #el_field2 button{
        width: 150px;
        height: 80px;
        font-size: 20px;
        margin-bottom: 5px;
        background-color: rgba(233, 163, 12, 0.74);
        border: solid 1px rgba(233, 163, 12, 0.74);
    }

    #el_field2 button:hover{
        background-color: rgba(255, 174, 0, 0.74);
    }

    #mid_field1{
        text-align: center;
        margin-left: 495px;
    }

    #mid_field1 button{
        width: 150px;
        height: 80px;
        font-size: 20px; 
        margin-bottom: 5px;   
        background-color: rgb(39, 180, 34);
        border: solid 1px rgb(39, 180, 34);
    }

    #mid_field1 button:hover{
        background-color: rgb(38, 156, 33);
    }

    #mid_field2{
        text-align: center;
        margin-left: 495px;
    }

    #mid_field2 button{
        width: 150px;
        height: 80px;
        font-size: 20px;
        margin-bottom: 5px;
        background-color: rgb(39, 180, 34);
        border: solid 1px rgb(39, 180, 34);
    }

    #mid_field2 button:hover{
        background-color: rgb(38, 156, 33);
    }

    #space{
        margin-bottom: 50px;
    }

}

