/* main */

#banner{
    margin-top: 30px;
    border-top: solid #d6d6d6 1.5px;
    border-bottom: solid #d6d6d6 1.5px;
}

#banner img{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* 모바일 최적화를 위해 */
#carousel-example-generic{
    clear: both;
 
}

#car_indi{
    z-index: 1;
}

#intro{
    text-align: center;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid #d6d6d6 1.5px;
}

p{
    font-size: 17px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

#intro_content1{
    padding-top: 40px;
    padding-bottom: 40px;
}

#intro_content2{
    padding-bottom: 40px;
    border-bottom: solid #d6d6d6 1.5px;
}

#content_flow{
    position: relative;
    margin-top: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

#content_flow img{
    z-index: 1;
    max-width: 100%;
}

#background1{
    opacity: 0.2;
    background-color: aquamarine;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

#background2{
    opacity: 0.4;
    background-color: rgb(250, 250, 250);
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}